.n-modal-mask {
  backdrop-filter: blur(2px);
}

/* Решение компонента вкладок не соответствует проблеме нижнего края */
.v-x-scroll {
  height: 100%;
}

/* Решить проблему размера QR -кода */
.n-qr-code{
  height: unset !important;
  width: unset !important;;
}
